<div class="col-md-12 center">
    <h1>Daily API quota reached, since this project doesn't make any money, I cant pay Google for the API usage.</h1>
    <p>Try again later or tomorrow, sorry for the inconvenience</p>

</div>