<div class="col-md-12 center">
    <p id='tete'>Not Sure What To Eat Today?</p>
    <p id='error'></p>
    
    <form id="zip" action="submit" method="POST">
        <div class=" col-md-6 col-lg-4 offset-md-3 offset-lg-4  input-group">
            <input type="text" name="zip" id="zip" class="form-control text-center" placeholder="ZIP Code">
            <select class="input-group-addon" id="range" name="range">
                <option>10</option>
                <option>20</option>
                <option>30</option>
            </select>
        </div>
       <div class="row form-group">
           <div class="col-md-12 col-lg-6 offset-lg-6 lbl-big">Filters:</div>
           <div class="col-md-6 col-lg-2 offset-md-3 offset-lg-2 lbl">Test
                <select class="form-control " id="type" name="type">
                    <label for="filters">Filters:</label>
                    <option>Restaurant</option>
                    <option>Fast Food</option>
                    <option>Breakfast</option>
                </select>
           </div>
           <div class="col-md-6 col-lg-2 lbl">Test
                <select class="form-control " id="type" name="type">
                    <option>Restaurant</option>
                    <option>Fast Food</option>
                    <option>Breakfast</option>
                </select>
           </div>
       </div>
        
        <div class="col-md-2 offset-md-5 test input-group">
            <button  class="btn btn-primary" type="submit" value="Submit">Pick for me!</button>
        </div>
    </form>
    <script src="./js/location.js"></script> 
</div>
