<div class="col-md-12 center">
    <p id='tete'>Not Sure What To Eat Today?</p>
    <p id='error'></p>
    
    <form id="zip" action="submit" method="POST">
        <div class=" col-md-8 col-lg-6 col-xl-6 offset-md-2 offset-lg-3 offset-xl-3 input-group">
            <input type="text" name="zip" id="zip" class="form-control text-center" placeholder="ZIP Code">
            <select class="input-group-addon" id="radius" name="radius">\
                <option>1</option>
                <option>3</option>
                <option>5</option>
                <option>10</option>
                <option>15</option>
                <option>20</option>
                <option>30</option>
                
            </select>
        </div>
        <div class="row">
            <div class="col-6 offset-3">
                <div class="form-group">
                    <div class="row  lbl-big">
                        <div class="col-lg-3 col-xl-3 offset-lg-1 offset-xl-2 lbl">Type:
                                <select class="form-control " id="filter" name="filter">
                                    <option>Restaurant</option>
                                    <option>Fast Food</option>
                                    <option>Breakfast</option>
                                    <option>Bar</option>
                                </select>
                        </div>
                        <div class="col-lg-3 col-xl-3 lbl">Min. Price:
                                <select class="form-control " id="minPriceRange" name="minPriceRange">
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                        </div>
                        <div class="col-lg-3 col-xl-3 lbl">Max Price:
                                <select class="form-control " id="priceRange" name="priceRange">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-6 col-xl-6 offset-xs-2 offset-lg-3 offset-xl-3 test input-group">
                    <button  class="btn btn-primary btn-block" type="submit" value="Submit">Pick for me!</button>
                </div>
            </div>
            
        </div>
    </form>
    <script src="./js/location.js"></script> 
</div>
