html{
    height: 100%;
    width:100%;
}
body{
    
    background-color: #ce452d;
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
}
.shadow{
    box-shadow: inset 0px 0px 25px #000000;

}

.input-group>input,.input-group>input:active,.input-group>input:focus{
    background-color: transparent;
    outline: 0 none;
    color:#861f18 !important; 
    font-family: Kavoon;
    font-size: 24px;
    border-color: #fff;
    border: 2px solid #861f18;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.input-group>input::placeholder{
    color:#a1261d !important; 
}
.input-group-addon{
    background-color: transparent;
    outline: 0 none;
    color:#861f18 !important; 
    font-family: Kavoon;
    font-size: 24px;
    border-color: #fff;
    border: 2px solid #861f18;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.input-group-addon>option{
    background-color: transparent;
}
.btn-primary{
    background-color: #861f18;
    border: none;
    color: #ce452d;
}
.btn-primary:hover{
    background-color: #861f18;
    color: #ce452d;
}
.btn-primary:active,.btn-primary:focus{
    background-color: #861f18;
    color: #ce452d;
    outline: none;
}
.center{
    font-family: Kavoon;
    top: 25vh;
    font-size: 50px;
    color: #8a211a;
    /*border: 1px solid rgb(0, 0, 0);*/
    text-align: center;
}
.result{
    padding: 24px;
    position: relative;
    font-family: Kavoon;
    top: 0vh;
    font-size: 50px;
    color: #8a211a;
    /*border: 1px solid rgb(0, 0, 0);*/
    /*text-align: center;*/
}
.resultName{
   margin-bottom: 10px;

}
.filterDropdown{
    border: 2px solid #8a211a;
    border-radius: 10px;
    color: #861f18;
}
.filterItem>img{
    opacity: 0.6;
}
.resultDetails{
    font-size: 24px;
}
.input-group{
    padding: 50px;

}